[Unit]
Description=scribbled-bot - video transcript service
After=syslog.target

[Service]
WorkingDirectory=/var/lib/scribbled/app
ExecStart=/var/lib/scribbled/venv/bin/uwsgi --ini uwsgi.ini
KillSignal=SIGQUIT
ExecReload=/bin/kill -HUP $MAINPID
Type=forking
StandardError=syslog
NotifyAccess=all
SyslogIdentifier=scribbled-api

[Install]
WantedBy=multi-user.target
