[Unit]
Description=scribbled-bot - video transcript service
After=syslog.target

[Service]
ExecStart=/var/lib/scribbled/venv/bin/python scribbled_bot.py
WorkingDirectory=/var/lib/scribbled/app
KillSignal=SIGQUIT
ExecReload=/bin/kill -HUP $MAINPID
Type=simple
StandardError=syslog
NotifyAccess=all
SyslogIdentifier=scribbled-bot

[Install]
WantedBy=multi-user.target
